/* media <1200px*/
@media screen and (max-width:1200px){
  .dashboard-container{
    grid-template-columns: 1fr,6fr,5fr;
    gap: 2rem;
  }
  .main-sidebar{
    width: auto;
    padding-left: 4px;
  }
  .main-container .insights{
    grid-template-columns: 1fr;
  }
}

.main-container .recent-orders{
    position: absolute;
    width: 85%;
    padding-bottom: 4rem;
}

.aside-header .brand{
    padding-left: 1rem;

}
.brand h3{
    display: none;
}

.sidebar .item span:not(.material-icons-sharp){
  display: none;  
}

/* media >268px*/