@import url('https://fonts.googleapis.com/css?family=Nunito:wght@200;300; 400; 500; 600; 700; 800;900&display=swap');

:root {
--white: #fff;
--light:#f3f4ee;
--fuscha: hsl(334, 94%, 57%);
--desaturate-fuscha: Ohsla(334, 94%, 57%, 0.15);
--desaturate-fuscha-2: Ohsla(334, 94%, 57%, 0.1);
--cyan: hsl(184, 46%, 57%);
--desaturate-cyan: Ohsla(184, 46%, 57%, 0.25);
--desaturate-cyan-2: Ohsla(184, 46%, 57%, 0.15); 
--light-blue: #bbeef1;
--pinkless: #fff3e0;
--yellow: #f1b813;

--text-color-primary: #314657;
--text-color-secondary: #58626e; 
--text-color-third: #9db3be;

--box-shadow-card: 8px 8px 32px var(--desaturate-fuscha); 
--box-shadow-card-2: 8px 8px 32px var(--desaturate-cyan); 
--box-sidebar: 2px 4px 16px var(--desaturate-cyan-2);

--padding-card: 28px;
--border-radius-rounded: 50%;
--border-radius-4: 4px;
--border-radius-8: 8px;
--border-radius-12: 12px;
--border-radius-card: var(--padding-card);
}


.dark-mode {
--white:#393e46;
--light: #222831;
--desaturate-fuscha: Ohsla(334, 8%, 67%, 0.15);
--text-color-primary: #eee;
--text-color-secondary: #eee;
--box-shadow-card: 8px 8px 32px var(--desaturate-fuscha); 
--box-shadow-card-2: 8px 8px 32px var(--desaturate-cyan);
}


*,::before,*::after {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Nunito', sans-serif;

}

html {
font-size: 14px;

}

body{
    background-color: var(--light);
    color: var(--text-color-primary);
    height: 100vh;
    transition: background-color .3s ease-in-out, color .3s ease-in-out;
}


ul{
list-style-type: none;

}
